@import url('http://fonts.cdnfonts.com/css/unify-serif');
html{
    font-size:100%;
    z-index: 0;
    line-height: 1.15;
}
/*#009BFF*/
body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.block-scroll{
    overflow: hidden;
}
/* START NAVBAR */
.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom:1px solid #e0e0e0;
    min-height: 10px;
    padding: 15px 0 15px 0;
    z-index: 1;
    overflow: hidden;
}
.container{
    width:100%;
    display: flex;
}
#menu{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: normal;
    width: 100%;
    max-height: 30px;
}
#menu li{
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-weight: 550;
    list-style-type: none;
    white-space: nowrap;
    padding: 5px 5px 0 5px;
}
#menu li:nth-child(1){
    padding:2px 0 0 0;
}
#menu li:nth-child(2){
    padding: 0;
}
#menu li a:link, #menu li a:visited{
    color: #626262;
    text-decoration: none;
    font-size: 1rem;
    margin:0 10px 0 0;
}
#menu li a:hover{
    font-weight: 900;
}
#menu li #logo{
    font-weight: 900;
    font-size: 1.6rem;
    color: #333333;
    letter-spacing: -1px;
}
.logo-blue-point{
    font-weight: 850;
    color:#009BFF;
}
#secondary-menu{
    float:right;
    display: flex;
    margin: 0 20px 0 0;
    flex-direction: row;
    white-space: normal;
    width: auto;
    max-height: 30px;
    padding: 0;
}
#secondary-menu li{
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-weight: 550;
    list-style-type: none;
    white-space: nowrap;
    padding: 5px 5px 0 5px;
}
.container #secondary-menu li #subscribe-underlined:link, .container #secondary-menu li #subscribe-underlined:visited{
    text-decoration: underline;
    text-decoration-color: #009BFF;
    text-decoration-thickness: 0.2rem;
}
.container #secondary-menu li .link-on-left{
    color: #222222;
    text-decoration: none;

}
.dropbtn{
    display: inline-block;
    border-style: none;
    background: url("Icons/hamburger.png") no-repeat;
    background-size: 20px;
    z-index: 2;
    padding: 1rem;
    cursor: pointer;
}
.dropbtn img{
    height: 1rem;
}
.overlay{
    display: none;
    background-color: #222222;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.53);
}

/* start dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
    top:0;
    left: 0;
    bottom:0;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    /*height: 100vh;     */

}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.show {
    display: flex;
}

#title-dd{
    font-weight: 900;
    font-size: 2rem;
    color: #333333;
    letter-spacing: -1px;
    margin:35px 0 20px 0;
    display: flex;
}
.close-button-dd{
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    background: url("Icons/close.svg") no-repeat;
    padding: 1rem;
    border: none;
}
#buttons-dd{
    display:flex;
}
#buttons-dd button{
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-weight: 520;
    padding: 10px 25px 10px 25px;
    min-width: 200px;
    margin:10px;
    border: 1px solid rgba(0,0,0,0.15);
}
#subscribe{
    background-color: #009BFF;
    color: white;
}
#sign-in{
    background-color: white;
}
.main-topics-container ul{
    padding: 10px 0 10px 10px;
}
.main-topics-container ul li{
    display: flex;
    margin: 10px 0 30px 0;
}
#myDropdown .main-topics-container ul li a{
    font-weight: 520;
    color: #222222;
    font-size: 1.1rem;
    margin: 0;
}

.main-topics-container img{
    max-width: 1rem;
    max-height: 1rem;
    flex-grow: 1;
    margin-left: auto;
    filter: invert(39%) sepia(0%) saturate(466%) hue-rotate(278deg) brightness(95%) contrast(87%);

}
.dropdown-container{
    margin:0 30px 0 30px;
}
#menu .main-topics-container li{
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-weight: 550;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
#search-bar-dd{
    display: flex;
    flex-grow: 2;
}
#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#search-icon{
    margin-left: auto;
}
#myInput:focus {
    outline: 3px solid #ddd;
}
/* end dropdown */
/* END NAVBAR */

/* START MAIN */
.container-main{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-height: 100%;
    margin: 0 0 20px 0;
    background-color: #ffffff;
}

.main-article, .secondary-articles-column{
    margin: 0 30px 0 0;
}

.content-article{
    background-color: #ffffff;
    position: relative;
}
.main-article .content-article{
    top:-60px;
    width:340px;
}
.secondary-article .content-article{
    top:-40px;
    width: 240px;
}
.content-article a:link, .content-article a:visited{
    color:#222222;
    text-decoration: none;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.content-article a:hover{
    text-decoration: underline;
    text-decoration-color: #009BFF;
    text-decoration-thickness: 0.2rem;
}
.content-article a h3{
    margin:0;
    padding: 10px 10px 10px 0;
    font-weight: 600;
    font-size: 95%;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
}
.article-gist p{
    font-size:16px;
    text-justify: auto;
    margin: 0;
    padding: 0 10px 0 0;
    font-family: 'Unify Serif', "Times New Roman", serif;
}
.content-article a h5{
    margin:0;
    padding: 10px 10px 10px 0;
    font-weight: 600;
    font-size: 75%;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
}

.recent-news-column .content-article{
    margin: 10px 0 40px 0;
    max-width: 300px;
}

.recent-news-column .content-article a:hover{
    text-decoration: none;
}


.recent-news-column .content-article a:hover h5{
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #009BFF;
}
.additional-data{
    font-size:14px;
    font-weight: bold;
    color: #626262;
}
.additional-data span{
    font-weight: normal;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
}

.square{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #009BFF;
    margin: 0 10px 0 0;
}
.recent-news-column .content-article a h5{
    padding-top:5px;
}
.for-subscribers{
    color: #009BFF;
    font-size: 14px;
    font-weight: 550;
    margin: 10px 0 0 0;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
}
/* END MAIN */

/* aside column start */
.container-other-stuff{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside{
    margin:0 20px 0 0;
    display: flex;
    flex-direction: column;
}
.adv{
    background-color: #ffffff;
    padding: 30px 30px 0 30px;
}

.adv p{
    text-align: center;
    color: #cacaca;
    margin: 30px 0;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    min-height: 60px;
}
.adv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.rectangle{
    width: 20px;
    height: 13px;
    display: inline-block;
    background-color: #009BFF;
    margin: 0 14px 0 0;
}
.more-stories{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.more-stories h3{
    display: inline-block;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
}
.more-stories-news{
    display: block;
    background-color: #ffffff;
    padding: 30px 30px 0 30px;
    height: fit-content;
    flex-grow: 1;
}

.more-stories-news .content-article{
    padding: 0 0 20px 0;
}
.more-stories h3{
    margin-bottom: 10px;
}
.more-stories-news .content-article a:hover{
    text-decoration: none;
}

.more-stories-news .content-article a:hover h5{
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #009BFF;
}

.more-stories-news .content-article a{
    display: flex;
    flex-direction: row;
}

.title-and-topic{
    max-width: 250px;
}

.title-and-topic img{
    height: 90px;
    width: 90px;
}

/* end aside column */

/* start newsfeed column */
.newsfeed{
    background-color: #ffffff;
}

.newsfeed .content-article{
    margin:20px 50px 0 50px;
}
.newsfeed .content-article:last-child{
    margin-bottom: 20px;
}

.newsfeed .content-article a .title-and-topic{
    max-width: 450px;
}

.newsfeed .content-article a{
    display: flex;
    flex-direction: row;
}

.newsfeed .content-article a:hover{
    text-decoration: none;
}

.newsfeed .content-article a:hover h5{
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #009BFF;
}

.newsfeed .content-article a .title-and-topic .recent-news-title h5{
    font-size: 1.4rem;
}
/* end newsfeed column*/

/* start footer */
.footer{
    margin: 40px 0 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    color:#626262;
}
#link-list ul{
    padding: 0;
}
#link-list ul li{
    float:left;
    margin: 0 10px 0 0;
    padding: 0;
    list-style-position: inside;
}
#link-list ul li:nth-child(1){
    list-style-image: none;
    list-style-type: none;
}

#link-list a:link, #link-list a:visited, #link-list a:hover{
    text-decoration: none;
    color:#626262;
}
#social-icons img{
    margin:0 20px 0 0;
    width:20px;
}
.footer div{
    display: block;
    margin-bottom: 20px;
}
#manage-cookies{
    font-weight: bold;
}


@media screen and (max-width: 768px){
    /* START NAVBAR */
    #menu{
        padding:0 0 0 20px;
    }
    #menu li{
        display: none;
    }
    #menu li:nth-child(1){
        display: initial;
    }
    #menu li:nth-child(2){
        display: initial;
    }
    #menu li a:hover{
        font-weight: 900;
    }
    #secondary-menu li{
        font-size: 0.8rem;
    }

    .overlay{
        right: 0;
    }

    /* start dropdown */
    .dropdown-content{
        right:0;
        width: 100vw;
    }
    #title-dd{
        font-size: 2.5rem;
    }

    #buttons-dd button{
        min-width: 150px;
    }

    #sign-in{
        margin-left: auto;
    }

    .main-topics-container ul{
        display: flex;
        flex-direction: column;
    }
    .main-topics-container ul li{
        margin: 10px 0 10px 0;
    }

    #menu .main-topics-container li{
        display: flex;
    }

    /* end dropdown */
    /* END NAVBAR */

    /* START MAIN */
    .container-main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 100%;
        margin: 0 0 20px 0;
        background-color: #ffffff;
    }

    .main-article, .secondary-articles-column{
        margin: 0;
    }

    .content-article{
        background-color: #ffffff;
        position: relative;
        padding: 10px 0 0 30px;
    }
    .main-article .content-article{
        top:-60px;
        width:85%;
    }
    .main-article img{
        object-fit: cover;
        width: 100%;
    }
    .secondary-articles-column{
        margin: 0 30px 0 30px;
    }
    .secondary-article img{
        object-fit: cover;
        width: 100%;
    }
    .secondary-article .content-article{
        top:-40px;
        width: 90%;
        padding: 0;
    }

    .recent-news-column{
        display: none;
    }

    .square{
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #009BFF;
        margin: 0 5px 0 0;
    }
    .for-subscribers{
        color: #009BFF;
        font-size: 0.75rem;
        font-weight: 550;
        margin:0;
        font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    }
    /* END MAIN */

    /* aside column start */
    .aside{
        display: none;
    }

    /* start newsfeed column */
    .newsfeed .content-article{
        margin:20px 30px 0 30px;
        padding: 0;
    }

    .newsfeed .content-article a .title-and-topic .recent-news-title h5{
        font-size: 1.1rem;
        padding:0;
        margin:5px 10px 0 0;
    }

    .newsfeed .additional-data{
        font-size: 0.75rem;
    }
    /* end newsfeed column*/

    /* start footer */
    .footer{
        line-height: 1.6rem;
    }
    /* end footer*/
}


@media screen and (max-width: 1024px) and (min-width: 768px){
    /* start navbar */
    #menu{
        padding-left: 20px;
    }
    /* end navbar */

    /* START MAIN */
    .container-main{
        flex-direction: row;
        flex-grow: 1;
    }
    .main-article{
        margin-left: 60px;
        line-height: 1.3rem;
        object-fit: contain;
    }
    .secondary-articles-column{
        margin-right: 60px;
    }

    .secondary-article .content-article{
        top:-30px;
        width: 70%;
    }

    .secondary-article img{
        object-fit: cover;
        width: 100%;
    }

    .recent-news-column{
        display: none;
    }

    .content-article a h3{
        line-height: 1.6rem;
    }

    .content-article a h5{
        line-height: 1.3rem;
    }
    .square{
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #009BFF;
        margin: 0 5px 0 0;
    }
    .for-subscribers{
        color: #009BFF;
        font-size: 0.75rem;
        font-weight: 550;
        margin:0;
        font-family: 'Unify Sans', Helvetica, Arial, sans-serif;
    }
    /* END MAIN */


    /* aside column start */
    .aside{
        display: none;
    }

    /* start newsfeed column */
    .newsfeed{
        width: 100%;
    }
    .newsfeed .content-article{
        margin:20px 70px 0 70px;
        padding: 0;
    }

    .newsfeed .content-article a .title-and-topic .recent-news-title h5{
        font-size: 1.2rem;
        padding:0;
        margin:5px 10px 0 0;
    }

    .newsfeed .additional-data{
        font-size: 0.9rem;
    }

    .newsfeed picture{
        margin-left: auto;
    }
    /* end newsfeed column*/

    /* start footer */
    .footer{
        line-height: 1.6rem;
    }
    /* end footer*/
}